.title, h1 {
    font-size: 45px;
    font-weight: 900;
    font-style: italic;
}

.container {
    display: flex;
	flex-direction: column;
    padding: .45em 2.65em 3em;
    margin: 0 auto;
    max-width: 500px;
    background-color:var(--lt-color);
    border: #423c38;
    border: 3px solid;
    box-shadow: var(--shadow-1) 5px 5px;
}

.error {
    border: 1px solid;
    display: flex;
	flex-direction: column;
    padding: .45em 2.65em 3em;
}